form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.first-form{
max-width: 200px;
margin: 0px auto;
border: 1px solid #000;
text-align: center;
padding: 20px;
}
#first-textarea{
    width: 140px;
    height: 60px;
}
.button-container{
    display: flex;
    justify-content: space-around;
}

input{
    background-color: rgb(38, 103, 160);
    border-radius: 5px;
    padding-left: 5px;
}